.add-button {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: -20px;
}

iframe {
    margin-top: 20px;
}

.top-banner {
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.list-group-item {
    margin-top: -22px;
    margin-bottom: -15px;
}

#techniques {
    background-color: #f0f0f0;
    padding-top: 30px;
    min-height: 650px;
}

#details{
    padding-top: 30px;
}

.container-fluid {
    background-color: #C8C6C6
}


#sub-panel>.panel-default>.panel-heading {
    color: white;
    background-color: #3b004b;
    border-color: #3b004b;
}

#sweep-panel>.panel-default>.panel-heading {
    color: white;
    background-color: #0f012b;
    border-color: #0f012b;
}

#passes-panel>.panel-default>.panel-heading {
    color: white;
    background-color: #022719;
    border-color: #022719;
}

#escapes-panel>.panel-default>.panel-heading {
    color: white;
    background-color: #241101;
    border-color: #241101;
}

#details-panel>.panel-default>.panel-heading {
    color: white;
    background-color: #262626;
    border-color: #262626;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

#sub-panel, 
#sweep-panel, 
#passes-panel, 
#escapes-panel {
    position: relative;
    display: inline-block;
    color: red;
    float: left;
}

body {
    margin-top: 100px;
    background-color: #222;
    font-family: 'lato-light';
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}


@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 0px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 35px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}



/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

label {
    padding-top: 10px;
}

textarea {
    resize: none;
}